@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row justify-content-center">
    @* Categories *@
    <div class="d-flex flex-column mx-2">
        <a asp-action="Index" class="my-1 category-list-item">Всі товари</a>
        @foreach (var category in Model.Categories)
        {
            <a asp-route-category="@category.Name" asp-action="Index" class="my-1 category-list-item">@category.Name</a>
        }
    </div>

    @* Products *@
    <div class="row row-cols-3 g-3 m-auto">
        @foreach (var product in Model.Products)
        {
            <div col style="min-width: 200px">
                <div class="card">
                    <img class="card-img-top" src="@product.Image" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p style="font-weight: bold; font-size: 1.5em">@product.Price грн</p>
                        <a href="#" class="btn btn-primary">Додати в кошик</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
